doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
    link(rel="stylesheet" href="./css/app.min.css")
  body
<<<<<<< Updated upstream
    block index
=======
<<<<<<< HEAD
    block main
    include footer
=======
    block index
>>>>>>> origin/master
>>>>>>> Stashed changes
    script(type="text/javascript" src="./js/app.min.js")
