@import ./class/reset

// x-build style
body
  background: #2C3643

.title
  margin-top: 10px
  font-size: 16px
  display: block
  text-align: center
  color: #fff

.logo
  background: url(../images/assets/logo.png) no-repeat
  background-size: 100%
  width: 100px
  height: 100px
  margin: 200px auto 0 auto

footer
  position: absolute
  bottom: 0
  width: 100%
  padding-bottom: 20px
  text-align: center
  font-size: 12px
  line-height: 2
  a
    color: #fff
