$MAIN_WIDTH = 750px

$BACKGROUND = #ffffff
$MAIN_COLOR = #33416C

$FONT_DEFAULT_SIZE = 12px
$FONT_DEFAULT_LINEHEIGHT = 2
$FONT_DEFAULT_COLOR = #303030

$FONT_H1_SIZE = 48px
$FONT_H2_SIZE = 36px
$FONT_H3_SIZE = 24px
$FONT_H4_SIZE = 18px
$FONT_H5_SIZE = 16px
$FONT_H6_SIZE = 16px
$FONT_P_SIZE = 12px