<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title x-build
    link(rel="stylesheet", href="css/index.min.css")
  body
    include x-build
    script(src="js/index.min.js")