@import "./reset.styl"

body
  background #2C3643

.title
  display block
  margin-top 50px
  color #fff
  text-align center
  font-size 64px

.logo
  width 240px
  height 240px
  margin 100px auto 0 auto
  img
    width 100%
    height 100%