extends ./view/layout

block index
  .lunbo
    ul
      li
        span 第1张
        img(src="./images/lunbo1.jpg")
      li
        span 第2张
        img(src="./images/lunbo2.jpg")
      li
        span 第3张
        img(src="./images/lunbo3.jpg")
      li
        span 第4张
        img(src="./images/lunbo4.jpg")
      li
        span 第5张
        img(src="./images/lunbo5.jpg")
  
