@font-face {
    font-family: 'ARCADE';
    src:url('../assets//font/ARCADE.ttf')
}

@keyframes font-shadow{
    50% {
        text-shadow: #63A3A8 0 0 0;
    }
    52.6% {
        transform:skew(0);
    }
    53% {
        text-shadow: #63A3A8 0 0 3vmin;
        transform:skew(55deg);
    }
    53.4% {
        transform:skew(0);
    }
    56% {
        text-shadow: #63A3A8 0 0 0;
    }
}
.x-build {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #63A3A8;
    background: #061A1D;
    font-family: 'ARCADE';
    background-image: url(../assets/images/bg.png);
    background-size: 150vmin 100vmin;
    background-position: center;
    background-repeat: no-repeat;
}
.x-build .logo {
    font-size: 18vmin;
    animation: font-shadow 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 0;
}
.x-build p {
    font-size: 4vmin;
    color: #fff;
}    
.x-build ul {
    display: none;
}
      
@media screen and (min-device-width: 1200px) {
    .x-build ul {
        display: flex;
        flex-direction: row;
        font-size: 2vmin;
        padding: 0;
        margin: 2vmin 0 0 0;
    }
    .x-build ul li {
        margin: 0 1vmin;
        list-style: none;
    }
    .x-build ul li a {
        color: #fff;
        text-decoration: none;
    }  
    .x-build ul li a:hover {
        text-shadow: #63A3A8 0 0 2vmin;
        color: #63A3A8;
        text-decoration: underline;
    }  
}
  
