//- #xl-load
//-   img(src=require('@/assets/images/oval.svg'))
.x-build
  img(src=require('@/assets/images/logo.png'), alt="logo")
  h2: a(href="https://github.com/codexu/x-build") Hello, x-build!
  h2: a(href="https://codexu.github.io/") Documentation
  br
  h3 More plugins
  a(href="https://github.com/codexu/x-load") x-load
  a(href="https://github.com/codexu/x-animate") x-animate
  a(href="https://github.com/codexu/x-touch") x-touch