@import "~@/utils/reset.styl"
@import "~@/utils/config.styl"
@import "~@/utils/mixins.styl"

html, body
  background $BACKGROUND
  font-size $FONT_DEFAULT_SIZE
  line-height $FONT_DEFAULT_LINEHEIGHT
  color $FONT_DEFAULT_COLOR

// #xl-load
//   loader(30px, 30px)

.x-build
  padding 50px
  h2
    Title(2, auto)
  h3
    font-size $FONT_H3_SIZE
  a
    margin-right 20px
    color $MAIN_COLOR
  img
    width 120px
    margin-left -10px