@import "~@/style/config.styl"
@import "~@/style/mixins.styl"

html, body
  background $BACKGROUND
  font-size $FONT_DEFAULT_SIZE
  line-height $FONT_DEFAULT_LINEHEIGHT
  color $FONT_DEFAULT_COLOR

#xl-load
  loader(30px, 30px)

.x-build
  padding 50px
  h3
    font-size 24px;/*px*/
  a
    font-size 16px;/*px*/
    margin-right 20px
    color $MAIN_COLOR
    display inline-block
  img
    width 180px;/*px*/
    margin-left -10px