@import "~@/style/config.styl"

loader(width = 30px, height = 30px)
  background #000
  width 100vw
  height 100vh
  img
    width width
    height height
    transform translate(50vw, 50vh)
    margin (width / -2) 0 0 (height / -2)

Wrapper()
  position relative
  width 100%
  overflow hidden

Wrapper-background(width = 750px)
  display block
  position relative
  width width
  left 50%
  margin-left (width / -2)
  z-index 0

Item-position(width = 500px, height = 100px, x = 0, y = 0, z-index = 10)
  display block
  width width
  height height
  position absolute
  top y
  left 50%
  margin-left (width / -2) + x
  z-index z-index

Text(size = 1, width = 500px, align = left, color = $FONT_DEFAULT_COLOR)
  if width == auto
    width auto
  else
    width width
  font-size $FONT_ + size + _SIZE
  text-align align
  color color
  display block
  position relative
  if align == center
    margin 0 auto
  else if align = right
    margin 0 0 0 auto

Pseudo(align = left, x = 0, y = 0)
  content ''
  display block
  position absolute
  top y
  z-index 10
  if align == left
    left x
  else if align == right
    right x  