<template>
<% if (components === 'antd') { -%>
  <a-config-provider :locale="locale">
    <div id="app">
      <router-view/>
    </div>
  </a-config-provider>
  
<% } else { -%>
  <div id="app">
    <router-view/>
  </div>
<% } -%>
</template>

<% if (components === 'antd') { -%>
<script>
  import zhCN from 'ant-design-vue/es/locale/zh_CN';

  export default {
    data() {
      return {
        locale: zhCN,
      };
    },
  };
</script>
<% } -%>