.x-build
  img(src=require('@/assets/images/logo.png'), alt="logo" prior)
  p: a(href="https://github.com/codexu/x-build") Hello, x-build!
  p: a(href="https://codexu.github.io/") Documentation
  h3 More plugins
  a(href="https://github.com/codexu/x-load") x-load
  a(href="https://github.com/codexu/x-animate") x-animate
  a(href="https://github.com/codexu/x-touch") x-touch