.x-build
  .logo
    img(src=require('@/assets/images/logo.png'))
  h1 Welcome, X-BUILD!
  ul
    li: a(href="https://codexu.github.io/") x-build
    li: a(href="https://codexu.github.io/docs/1-getting-start/2-install.html") x-build-cli
    li: a(href="https://codexu.github.io/docs/3-plugin/x-fullpage.html") x-fullpage
    li: a(href="https://codexu.github.io/docs/3-plugin/x-load.html") x-load
    li: a(href="https://codexu.github.io/docs/3-plugin/x-animate.html") x-animate
    li: a(href="https://codexu.github.io/docs/3-plugin/x-touch.html") x-touch
