@import "~@/utils/reset.styl"
@import "~@/utils/config.styl"
@import "~@/utils/mixin.styl"

html, body
  padding 50px
  background $BACKGROUND
  font-size $FONT_DEFAULT_SIZE
  line-height $FONT_DEFAULT_LINEHEIGHT
  color $FONT_DEFAULT_COLOR
  
.x-build
  h2
    font-size $FONT_H2_SIZE
  h3
    font-size $FONT_H3_SIZE
  a
    margin-right 20px
    color $MAIN_COLOR
