<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title x-build
  body
    #xl-loader.transition-loader
      .transition-loader-inner
        - for (var i = 0; i < 5; i++)
          i
    #xl-wrapper.container
      img.bg(data-src=require("./assets/images/bg.jpg") prior)
      img.logo(data-src=require("./assets/images/logo.png"))
      h1.title x-build
        span v4.2.3
    