<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title X-Build
  body
    .logo
      img(src=require('./images/logo.png'))
    h1.title X-BUILD
