$themes: (
  light: (
    font-color: #051724, // 正文
    notes-color: #666, // 注释
    background-color: #FFFFFF, // 背景色
  ),

  dark: (
    font-color: #FFFFFF,
    notes-color: #ccc,
    background-color: #1b2531,
  )
);

//遍历主题map
@mixin themeify {

  @each $theme-name,
  $theme-map in $themes {
    //!global 把局部变量强升为全局变量
    $theme-map: $theme-map !global;
    //判断html的data-theme的属性值  #{}是sass的插值表达式
    //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

//声明一个根据Key获取颜色的function
@function themed($key) {
  @return map-get($theme-map, $key);
}

//获取背景颜色
@mixin backgroundColor($color) {
  @include themeify {
    background-color: themed($color);
  }
}

//获取字体颜色
@mixin fontColor($color) {
  @include themeify {
    color: themed($color);
  }
}
